html {
  font-family: sans-serif;
}

/* Your CSS below here */
div {
    width: 200px;
    height: 200px;
    background-color: #613e75;
    background-image: linear-gradient(to bottom right, rgba(0,0,0,0), rgba(0,0,0,0.2) 30%);
    border: 1px solid #4b2c5d;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.125em;
    color: #FFF;
    text-shadow: 2px 2px black;
}
